<div id="content-area">
  <h1 class="text-center mt-5" style="color:white;">My Favorite Affirmations</h1>
  
  <div class="m-3 text-center">
    <a href="/affirmations" class="btn mx-auto px-3 color2 btn-primary" style="font-size: 20px;">All Affirmations</a>
  </div>
  
  <div class="affs mx-auto p-3">
    <div class="aff font-weight-bold text-center row p-1 m-1">
      <div class="col-5">Affirmation</div>
      <div class="col-3">Category</div>
      <div class="col-3">Sub-Category</div>
      <div class="col-1 text-left">Delete</div>
    </div>
    <% @affirmations.each do |a| %>
      <div class="aff text-center row p-2 m-2">
        <div class="col-5 text-left"><%= a.affirmation %></div>
        <div class="col-3"><%= a.cat %></div>
        <div class="col-3"><%= a.sub %></div>
        <div class="delete col-1 text-right">
          <%= link_to 'X', favorite_path(id: a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
  
  
</div>

<style>
  .affs {
    height: 60vh;
    width: 90%;
    overflow: scroll;
    border: 5px solid var(--color3);
    font-size: 24px;
    padding: 0 20px;
  }
  .aff {
    border: 2px solid var(--color3);
    background: white;
    color: black;
    display: flex;
    align-items: center;
  }
  .delete a {
    color: white !important;
    background: var(--color3);
    padding: 5px;
    font-weight: bold;
    border: 1px solid var(--color3);
    border-radius: 20%;
  }
  .color2{
    background: var(--color3) !important;
    border: var(--color3);
    padding: 10px;
  }
</style>