<div class="bottom d-flex justify-content-between">
  <div class="item float-left text-left">
    <div><a style="color:lightblue;" href="#">Privacy Policy</a></div>
    <div><a style="color:lightblue;" href="#">Terms of Service</a></div>
  </div>
  <div class="item text-center"><div><a style="color:lightblue;" href="/about">About Us</a></div></div>
  <div class="item float-right text-right">
    <div>&copy; 2020 AffirmationList</div>
    <div><a style="color:lightblue;" href="mailto:davidetkin@davidetkin.com">Email Us</a></div>     
  </div>
</div>

<style>
  .bottom {
    font-size: 16px;
    background: var(--color1);
    color: white;
    padding: 10px 2vw 10px 2vw;
  }
</style>