<div class="bottom w-100 text-right" style="font-size: 16px; background: var(--color1); color: white;">
  <div>&copy; 2020 AffirmationList</div>
  <div><a style="color:blue;" href="mailto:davidetkin@davidetkin.com">Contact Webmaster</a></div>
</div>