<div class="bottom w-100 text-right" style="font-size: 16px;">
  <div>&copy; 2020 AffirmationRoom</div>
  <div><a style="color:blue;" href="mailto:davidetkin@davidetkin.com">Contact Webmaster</a></div>
</div>