<div class="head">
    <% if current_user %>
      <% if current_user.admin? %>
      <header class="clearfix pt-0">
        <div class="text-left mb-2" style="background: black;">
          <a class="btn btn-light px-3 m-3" href="/admin" style="">Admin Panel</a>
        </div>
      <% end %>
    <% else %>
      <header class="clearfix">
    <% end %>
    <div class="container1 px-5">
     
			<div class="header-left">
				<%= image_tag "logo-multi-white"%>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				<input type="checkbox" name="" id="open">
				<nav>
					<a href="/">Home</a>
					<a href="/affirmations">Affirmations</a>
					<a href="/blogs">Blog</a>
					<a href="#">About</a>
          
            <% if user_signed_in? %>
            
            <span class="login-links">
              <%= link_to "Logout", destroy_user_session_path, :class => ''  %>
            </span>            
            <% else %>
            <span class="login-links">
              <%= link_to "Sign up", new_user_registration_path, :class => ''  %> |
              <%= link_to "Login", new_user_session_path, :class => ''  %>
            </span>
            <% end %>
				</nav>
			</div>
		</div>
	</header>
</div>
<div class="spacer">
    &nbsp;
</div>

<style>
  .spacer
  {
      width: 100%;
      height: 95px;
  }
  .login-links {
    border: 1px solid white;
    padding: 10px;
  }
  .login-links a:hover {
    color: lightblue;
  }
  .logo-text {
    text-transform: uppercase;
    font-family: Arial Narrow,Arial,sans-serif;
    font-size: 2.5vw;
  }
  .aff {
    color: white;
  }
  .room {
    color: #3D90A8;
  }
    *{
      margin: 0;
    	padding: 0;
    	outline: none;
    	border: none;
    	-webkit-box-sizing: border-box;
    }
    *:before,
    *:after{
    	-webkit-box-sizing: border-box;
    }
    .clearfix {
      *zoom: 1;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      line-height: 0;
      content: "";
    }
    .clearfix:after {
      clear: both;
    }
    .container{
    	width: 100%;
    	margin: 0 auto;
    }
    header{
    	width: 100%;
    	height: auto;
    	background: var(--color1) !important;
    }
    img {
      height: 70px;
      width: auto;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .header-left,
    .header-right{
    	position: relative;
    	color: white;
    	float: left;
      height: 100% !important;
    }
    .header-left{
    	width: 30%;
    }
    .header-right label{
    	position: absolute;
    	top: -3.7em;
    	right: 0;
    	cursor: pointer;
    }
    .header-right .span1{
    	position: relative;
    	width: 2em;
    	height: 2em;
    	background: rgba(255,255,255,.3);
    	-webkit-transition: all .3s ease;
    }
    .header-right .span1:hover{
    	background: rgba(255,255,255,.6);
    }
    .header-right .span1:before,
    .header-right .span1:after{
    	content: '';
    	position: absolute;
    	width: 2em;
    	height: .5em;
    	top: 4px;
    	left: 0;
    	background: black;
    }
    .header-right .span1:after{
    	top: 14px;
    }
    .header-right{
    	width: 70%;
    	text-align: right;
    }
    #open{
    	display: none;
    }
    h1{
    	font-weight: 300;
    	line-height: 40px;
    }
    a{
    	text-decoration: none;
    	color: white;
      
      
    }
    .clearfix {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    nav {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    nav>a, nav>p{
    	position: relative;
    	display: inline-block;
    	font-size: 24px;
    	line-height: 40px;
    	padding: 0 2em;
    	-webkit-transition: all .3s ease;
      
    }
    nav>a:hover{
    	background: var(--color2);
    	color: black;
    }
    .hidden-desktop{
    	display: none;
    }
    section{
    	width: 100%;
    	height: auto;
    	background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
    }
    .section-left,
    .section-right{
    	float: left;
    }
    .section-left{
    	width: 70%;
    	padding: 3em 0;
    }
    .section-right{
    	width: 30%;
    }
    .section-title,
    .section-tagline{
    	color: white;
    	font-weight: 300;
    	margin: 0;
    	padding: 0;
    	-webkit-transition: all .4s ease;
    }
    .section-title{
    	font-size: 4em;
    	margin-bottom: .3em;
    	text-shadow: 0 3px 0px black,
    				 0 4px 0px rgba(150,150,150,.5);
    }
    .section-tagline{
    	font-size: 1em;
    }
    .learn-more{
    	display: table;
    	margin: 3em auto 0;
    	padding: 1em 6em;
    	cursor: pointer;
    	border-radius: 3px;
    	box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
    	background: #EAAF00;
    	background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
    	font-size: 1.2em;
    }
    .learn-more:hover{
    	background: #EAAF00;
    }
    .learn-more:active{
    	box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
    }

  }
  
</style>