<%= javascript_include_tag "application" %>
<div id="content-area">
 <%= render "shared/navbar" %>
  
  <div class="text-center m-5 w-75 mx-auto mt-5 pt-5">
    <div class="welcome-text">Welcome To Affirmation Room!</div>
    <a class="btn btn-info btn-small my-5" style="width: 35%;" href="/affirmations">Check out our affirmations now!</a>
  </div>

  
  <%= render "shared/footer" %>
</div>
