<%= render "shared/navbar" %>
<div id="content-area">
  <h1 class="text-center p-3">All Affirmations</h1>
  <div class="list">
      <% @affirmations.each do |a| %>
        <div class="row">
          <div class="col-md-8">
            <div class="item"><%= a.affirmation %></div>
          </div>
          <div class="col-md-4">
            <div class="item"><%= a.affirmation %></div>
          </div>
        </div>
      <% end %>
  </div>
  <%= render "shared/footer" %>
</div>