<div id="content-area">
  <h1 class="text-center mt-5"></h1>
  
  <div class="blogs w-75 mx-auto m-5">
    <div class="row">
      
     <div class="p1 m-5">
       <% @affirmations.each do |a| %>
         <div><%= a.affirmation %></div>
       <% end %>
     </div>

    </div>
  </div>
  
</div>



<style>
  .p1 {
    font-size: 18pt;
    padding: 50px;
    background: #eee;
  }
  .blogs {
    border: 5px solid var(--color3);
    background: #eee;
  }
</style>