<div id="content-area">
  <h1 class="text-center mt-5">About AffirmationList</h1>
  <div class="about text-center w-75 p-5 m-5 mx-auto border text-white">
    <%= @about.about.html_safe %>
  </div>
  
</div>



<style>
  .about {
    font-size: 24px;
  }
  .p1 {
    font-size: 18pt;
    padding: 50px;
    background: #eee;
  }
  h1{
    color: white;
    font-size: 3rem;
  }
</style>