<div id="content-area">
  <h1 class="text-center mt-5">About AffirmationList</h1>

  
</div>



<style>
  .p1 {
    font-size: 18pt;
    padding: 50px;
    background: #eee;
  }
  h1{
    color: white;
    font-size: 3rem;
  }
</style>