// Place all the styles related to the affirmations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background: var(--main-bg);
  .list {
    background: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    overflow: scroll;
    padding: 0 1em 0 1em;
    box-shadow: 5px 10px 18px #888888;
    .item {
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .category {
      font-style: italic;
      font-weight: 400;
      color: #236AA5;
    }
    .row {
      margin: 5%;
      padding: 0 5% 0 5%;
      font-size: 1.2em;
    }
    .rowborder {
      font-weight: 600;
      color: #fff;
      background: #888;
      box-shadow: 5px 10px 5px #ccc;
    }
  }
}