:root {
  --main-bg: white;  
  --mid-bg: #C38D9E;  
  --color1: #116466;  /* navbar */
  --color2: #88bdbc;   /* background */
  --color3: #AC3B61;  /* buttons */
  --color4: #112D32;    /* text */
}
