// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html body, #content-area {
  height: 100%;
  overflow: scroll;
}

#content-area {
  overflow: scroll;
  hr {
    border-top: 1px solid grey;
  }
  .bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    padding-right: 16px;
    border-top: 1px solid grey;
  }
}